---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<header>
		<h1>Let's all go to the movies!</h1>
		<h2>Oscar Mayor Winner Watcher</h2>
	</header>
	<main>
		<section id="card-grid">
			<Card/>
		</section>
	</main>
	<footer>
		<a href="https://johngruyere.com/" target="_blank">Built by Greer</a>
	</footer>	
</Layout>

<style>
	header {
		color: goldenrod;
		height: 1rem;
	}
	main {
		color: goldenrod;
		padding: 1rem 0 0 0;
	}
	#year-selector {
		padding: 1rem;
	}
	#card-grid {
		display: grid;
    	gap: 1rem;
    	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
	footer {
		color: goldenrod;	
	}
	footer a {
		text-decoration: none;
		color: goldenrod;
	}
	footer a:hover {
		text-decoration: underline;
	}
</style>
