---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header>
		<h1>Let's all go to the movies!</h1>
		<h2>Oscar Mayor Winner Watcher</h2>
	</header>
	<main>
		<section id="year-selector">
			<label>Select a year</label>
			<select>
				<option>2025</option>
				<option>2024</option>
				<option>2023</option>
				<option>2022</option>
				<option>2021</option>
				<option>2020</option>
				<option>2019</option>
			</select>
			<button>Get movies</button>
		</section>	
		<section id="card-grid">
			<div class="card">
				<p>test</p>
			</div>
			<div class="card">
				<p>test</p>
			</div>
			<div class="card">
				<p>test</p>
			</div>
			<div class="card">
				<p>test</p>
			</div>
		</section>
	</main>
	<footer>
		Built, with love, by <a href="https://johngruyere.com/" target="_blank">Greer</a>
	</footer>	
</Layout>

<style>
	header {
		color: goldenrod;
	}
	main {
		color: goldenrod;
		border: solid red 1px;
	}
	#card-grid {
		display: grid;
    	gap: 1rem;
    	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
	.card {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
		border: solid pink 1px;
		height: 100%;
    	width: 100%;
		font-size: 3rem;
		color: white;
    	background: #353535;
	}
	footer {
		color: goldenrod;	
	}
	footer a {
		text-decoration: none;
		color: goldenrod;
	}
	footer a:hover {
		text-decoration: underline;
	}

	.container {

	}

</style>
